<div class="container">
    <div class="tile is-ancestor">
<<<<<<< HEAD
    <div class="tile is-vertical is-12">
        <div class="tile">
            <div class="tile is-parent">
            <article class="tile is-child">
            <figure class="item_image">
                <img src="{{image_link}}" width="500px">
            </figure>
            </article>
        </div>
        <div class="tile is-parent is-vertical">
            <article class="tile is-child">
            <h2 class="is-size-3">{{product_name}}</h2>
            <h3 class="price is-size-4">Price: ${{price}}</h3>
            </article>
            <hr>
            <article class="tile is-child">
            <p>{{item_description}}</p>
                <button class="button cart_button" type="submit" value="AddCart">Add to cart</button>
                <button class="button addAlert isStatic" type="submit" value="Added">Added!</button>
            </article>
        </div>
        </div>
    </div>
  </div>
=======
        <div class="tile is-parent is-3">
            <div class="tile is-child">
                <img src={{image}} width="300px">
            </div>
        </div>
        <div class="tile is-parent is-vertical">
            <div class="tile is-child">
                <div class="tile is-9">
                    <p class="title is-size-2 is-12">{{name}}</p>
                </div>
                <hr>
                <p class="price is-size-5">Price: ${{price}}</p>
                <br />
                <p>{{detail}}</p>
            </div>
            <div class="columns is-right">
                <div class="column is-10"></div>
                <div class="column is-2">
                    <div class="field">
                        <button class="button is-link">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

<script>

</script>
>>>>>>> 593878fd413bde7677f6a52060f10657d102c4cc
