{{#if active_category}}
<div class="tile is ancestor box">
    <div class="tile is-12 is-vertical is-parent">
        <div class="columns">
            <div class="column is-12">
                <div class="tile is-child">
                    <div class="columns">
                        <div class="column is-3 images">
                            <a href="/item/{{id}}">
                                <img src={{image_link}} alt="{{product_name}}" class="items_page">
                            </a>
                        </div>
                        <div class="column is-6">
                            <a href="/item/{{id}}">
                                <p class="title">{{product_name}}</p>
                            </a>
                            <hr>
                            <a href="/item/{{id}}">
                                <p class="subtitle">{{item_description}}</p>
                            </a>
                        </div>
                        <div class="column is-3" style="text-align: right;">
                            <div class="is-size-4">${{price}} ea.</div>
                            {{!-- <button class="button is-link is-medium" id="add_to_cart">Add to Cart</button> --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}